@import "tailwindcss";

@theme {
  --color-friday-blue: #00d2ff;
  --color-friday-dark: #0a0a1a;
}

body {
  @apply bg-friday-dark text-white overflow-hidden;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-friday-blue/20 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-friday-blue/40;
}
